




.complaint{
    margin-top: 8rem;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    align-items: center;
    border: 2px solid black;
}


.crimereport{
        margin-top:11rem;
       

    }
    .crimereport2{
        margin-top:11rem;
        border: 2px solid black;
       margin-left: 20px;
       margin-bottom: 30px;
       margin-right: 30px;

    }
.criminal{
    margin-top: 8rem;
    margin-left: -230px;
}    
.dx{
    margin-top: 10rem;
    margin-left: 30rem;
}
.policecomplaint{
    margin-top: 10rem;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    border:2px solid black;
   
}
.policestation{
    margin-top: 100px;
    align-items: center;
    margin-left: 500px;
}
.policereplay{
    margin: 10rem;
    margin-left: 39%;
}
.slider{
    margin-top: 10rem;
}
.userhome{
    margin-top: 10rem;
}











